# Finance Data Project 

In this data project we will focus on exploratory data analysis of stock prices. Keep in mind, this project is just meant to practice visualization and pandas skills, it is not meant to be a robust financial analysis or be taken as financial advice.
____
We'll focus on bank stocks and see how they progressed throughout the [financial crisis](https://en.wikipedia.org/wiki/Financial_crisis_of_2007%E2%80%9308) all the way to early 2016.

### The Imports

In [1]:
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import datetime
%matplotlib inline

## Data

We will get stock information for the following banks:
*  Bank of America
* CitiGroup
* Goldman Sachs
* JPMorgan Chase
* Morgan Stanley
* Wells Fargo

In [2]:
df = pd.read_pickle('all_banks')
df['BAC']

Stock Info   Open   High    Low  Close    Volume
Date
2006-01-03  46.92  47.18  46.15  47.08  16296700
2006-01-04  47.00  47.24  46.45  46.58  17757900
2006-01-05  46.58  46.83  46.32  46.64  14970900
2006-01-06  46.80  46.91  46.35  46.57  12599800
2006-01-09  46.72  46.97  46.36  46.60  15620000
...           ...    ...    ...    ...       ...
2015-12-24  17.32  17.38  17.22  17.27  29373415
2015-12-28  17.22  17.23  16.98  17.13  41777497
2015-12-29  17.25  17.35  17.16  17.28  45670376
2015-12-30  17.20  17.24  17.04  17.05  35066378
2015-12-31  17.01  17.07  16.83  16.83  47152968

[2517 rows x 5 columns]

In [3]:
# Bank of America
BAC = df['BAC']

# CitiGroup
C = df['C']

# Goldman Sachs
GS = df['GS']

# JPMorgan Chase
JPM = df['JPM']

# Morgan Stanley
MS = df['MS']

# Wells Fargo
WFC = df['WFC']

Create a list of the ticker symbols (as strings) in alphabetical order. Call this list: tickers

In [4]:
tickers = ['BAC', 'C', 'GS', 'JPM', 'MS', 'WFC']

Use pd.concat to concatenate the bank dataframes together to a single data frame called bank_stocks. Set the keys argument equal to the tickers list. Also pay attention to what axis you concatenate on.

In [5]:
bank_stocks = pd.concat([BAC, C, GS, JPM, MS, WFC],axis=1,keys=tickers)

Set the column name levels

In [6]:
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

Check the head of the bank_stocks dataframe.

In [7]:
bank_stocks.head()

Bank Ticker    BAC                                     C                       \
Stock Info    Open   High    Low  Close    Volume   Open   High    Low  Close
Date
2006-01-03   46.92  47.18  46.15  47.08  16296700  490.0  493.8  481.1  492.9
2006-01-04   47.00  47.24  46.45  46.58  17757900  488.6  491.0  483.5  483.8
2006-01-05   46.58  46.83  46.32  46.64  14970900  484.4  487.8  484.0  486.2
2006-01-06   46.80  46.91  46.35  46.57  12599800  488.8  489.0  482.0  486.2
2006-01-09   46.72  46.97  46.36  46.60  15620000  486.0  487.4  483.0  483.9

Bank Ticker           ...     MS                                  WFC         \
Stock Info    Volume  ...   Open   High    Low  Close   Volume   Open   High
Date                  ...
2006-01-03   1537660  ...  57.17  58.49  56.74  58.31  5377000  31.60  31.98
2006-01-04   1871020  ...  58.70  59.28  58.35  58.35  7977800  31.80  31.82
2006-01-05   1143160  ...  58.55  58.59  58.02  58.51  5778000  31.50  31.56
2006-01-06   1370250  ...  58.77  58.85  58.05  58.57  6889800  31.58  31.78
2006-01-09   1680740  ...  58.63  59.29  58.62  59.19  4144500  31.68  31.82

Bank Ticker
Stock Info     Low  Close    Volume
Date
2006-01-03   31.20  31.90  11016400
2006-01-04   31.36  31.53  10871000
2006-01-05   31.31  31.50  10158000
2006-01-06   31.38  31.68   8403800
2006-01-09   31.56  31.68   5619600

[5 rows x 30 columns]

# EDA

Let's explore the data a bit! Before continuing,


What is the max Close price for each bank's stock throughout the time period?

In [8]:
bank_stocks.xs(key='Close',axis=1,level='Stock Info').max()

Bank Ticker
BAC     54.90
C      564.10
GS     247.92
JPM     70.08
MS      89.30
WFC     58.52
dtype: float64

Create a new empty DataFrame called returns. This dataframe will contain the returns for each bank's stock. returns are typically defined by:

$$r_t = \frac{p_t - p_{t-1}}{p_{t-1}} = \frac{p_t}{p_{t-1}} - 1$$

In [9]:
returns = pd.DataFrame()